[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
