{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    {% include 'partials/_messages.html' %}
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Income</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-income' %}" class="btn btn-primary">Add a new income</a>
        </div>
    </div> 
   
     <div class="container mt-4">
        {% if income.count %}
            <div class="row">
                <div class="col-md-8">
                    <div class="col-md-8 d-flex flex-wrap">
                        <div class="dropdown ms-4">
                            <a  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Export as CSV
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a href="{% url 'income-export-csv' 7 %}" class="dropdown-item">Last week</a></li>
                              <li><a href="{% url 'income-export-csv' 30 %}"  class="dropdown-item">Last month</a></li>
                              <li><a href="{% url 'income-export-csv' 120 %}" class="dropdown-item">Last 4 months</a></li>
                              <li><a href="{% url 'income-export-csv' 182 %}" class="dropdown-item">Last 6 months</a></li>
                              <li><a href="{% url 'income-export-csv' 365 %}" class="dropdown-item">Last year</a></li>
                            </ul>
                        </div>
                        
    
                        <div class="dropdown ms-4">
                            <a  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Export as XLS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a href="{% url 'income-export-xls' 7 %}" class="dropdown-item">Last week</a></li>
                              <li><a href="{% url 'income-export-xls' 30 %}"  class="dropdown-item">Last month</a></li>
                              <li><a href="{% url 'income-export-xls' 120 %}" class="dropdown-item">Last 4 months</a></li>
                              <li><a href="{% url 'income-export-xls' 182 %}" class="dropdown-item">Last 6 months</a></li>
                              <li><a href="{% url 'income-export-xls' 365 %}" class="dropdown-item">Last year</a></li>
                            </ul>
                        </div>
    
                        <div class="dropdown ms-4">
                            <a  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Export as PDF
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a href="{% url 'income-export-pdf' 7 %}" class="dropdown-item">Last week</a></li>
                              <li><a href="{% url 'income-export-pdf' 30 %}"  class="dropdown-item">Last month</a></li>
                              <li><a href="{% url 'income-export-pdf' 120 %}" class="dropdown-item">Last 4 months</a></li>
                              <li><a href="{% url 'income-export-pdf' 182 %}" class="dropdown-item">Last 6 months</a></li>
                              <li><a href="{% url 'income-export-pdf' 365 %}" class="dropdown-item">Last year</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchField" placeholder="Search">
                    </div>
                </div>
            </div>



            <div class="app-table">
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Amount ({{currency}})</th>
                            <th>Source</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for income in page_obj %}
                        <tr>
                            <td> {{income.amount}} </td>
                            <td> {{income.source}} </td>
                            <td> {{income.description}} </td>
                            <td> {{income.date}} </td>
                            
                            <td><a href="{% url 'income-edit' income.id %}" class="btn btn-primary"> Edit </a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-output d-none">
                <p id="no-results-style" class="d-none">No results found</p>
                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Amount ({{currency}})</th>
                            <th>Souce</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody class="table-body">
                    </tbody>
                </table>
            </div>


            <div class="pagination-container">
                <div>
                    Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>

                <ul class="pagination align-right float-right mr-auto">
                    {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}> <a class="page-link" href="?page=1"> &laquo; 1</a> </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> {{ page_obj.paginator.num_pages }} &raquo; </a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div> 
</div>
<script
src="https://code.jquery.com/jquery-3.7.0.js"
integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
crossorigin="anonymous"/></script>
<script src="{% static 'js/searchIncome.js' %}">

</script>
{% endblock content %}
