{% extends 'base_auth.html' %}
{% load static %}
{% block content %} 
    <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"/></script>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Request Password Reset</h4>
                    </div>
                    <form id="registration_form" action="{% url 'reset-password' %}" method="post" class="d-flex flex-column">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <p>Please enter your email Adress. We'll send you an link to reset your password</p>
                        <div class="form-group mt-3">
                            <input 
                            required
                            type="email" 
                            name="email"
                            id="emailField"
                            placeholder="Email"
                            class="form-control form-control-snm"

                            value="{{values.email}}"
                            />
                        </div>
                        <div class="d-none" id="email_feedback"></div>

                        <input type="submit" id="submit-btn" value="Send" class=" mt-3 btn btn-block mx-auto btn-primary"/>
                    </form>
                </div>

                <span class="text-lead lead">Send me back the <a href="{% url 'register' %}">Log in</a> page </span><br/>
            </div>
        </div>


        <div class="col-md-4"></div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}